{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Tran Sheba</title>
</head>

<body>
    <nav class="navbar navbar-light bg-success fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="/media/images/TS.png" alt="" width="29" height="25"
                    class="d-inline-block align-text-top text-light">Tran Sheba</a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tran Sheba</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" href="{% url 'profile_dtls' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle navbar-brand" href="#"
                                id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Register
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'helpless_register' %}">For Relief </a></li>
                                <li><a class="dropdown-item" href="{% url 'donor_register' %}">As Donor</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Learn More?</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" href="{% url 'contact' %}">Contact US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active navbar-brand" href="#">About</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/images/Tran12.png" class="d-block w-100 h-60" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="card text-center">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Video</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Recent Campaign</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body" style="width: 18rem">
                            <h5 class="card-title">
                                <video controls style="width: 59rem; height:25rem">
                                    <source src="/media/video/1video.mp4" class="card-img-top">
                                </video>
                                title
                            </h5>
                            <p class="card-text">content.
                            </p>
                            <a href="https://www.youtube.com/c/FreeMotionByFirozHasan" class="btn btn-primary" style="align-items: center;">See More</a>
                        </div>
                    </div>
                    <div class="alert alert-dark" role="alert">
                    <h5 class="alert-link">This video is from a youtuber whose channel name is <b>Free Motions.</b></h5>
                    <p>There are a lot of street children in the poorer parts of the city.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">

                <img src="/media/images/Tran11.png" class="img-fluid" alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">chjvquajcvjuq</h5>
                                    <p class="card-text">dghccqdghvqju</p>
                                    <a href="#" class="btn btn-primary">link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">ygfyuue</h5>
                                    <p class="card-text">dvwfqhgdhg</p>
                                    <a href="#" class="btn btn-primary">link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/images/Tran13.png" class="d-block w-100 h-80" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    <h5>DSHDVUGU</h5>
                    <p>sGDCYH</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

</body>

</html>